<% layout('layout') -%>

<section id="cover" class="min-vh-100">
  <div id="cover-caption">
    <div class="container">
      <div class="row">
        <div
          class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4"
        >
          <h1 class="display-4 py-2 text-truncate">Become An Admin</h1>
          <div class="px-2">
            <form method="POST" action="">
              <div class="form-group">
                <label for="password">Enter Password To Become An Admin:</label>
                <input type="password" name="password" id="password" />
              </div>
              <button type="submit" class="btn btn-primary mt-3">
                Become An Admin
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
