<% layout('layout') -%>

<section id="cover" class="min-vh-100">
  <div id="cover-caption">
    <div class="container">
      <div class="row">
        <div
          class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4"
        >
          <h1 class="display-4 py-2 text-truncate">Send A Message</h1>
          <div class="px-2">
            <form method="POST" action="">
              <div class="form-group">
                <label for="content">Message Content</label>
                <textarea
                  class="form-control"
                  id="content"
                  placeholder="Enter Message"
                  name="content"
                  rows="4"
                  cols="50"
                ></textarea>
              </div>

              <button type="submit" class="btn btn-primary mt-3">
                Post Message
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
