<div class="container">
  <div class="media text-muted pt-3 bg-light p-3 mb-3">
    <img
    src=https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQBLE2R35SV62Enw03QHS5AY-LUr6HOhmHvrA&usqp=CAU"
    alt="" class="mr-2 rounded" width="64" height="64" />
    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
      <strong class="d-block text-gray-dark">@anonymous </strong>
      Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac
      cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo
      sit amet risus.
    </p>
    <p class="text-end p-0 m-0">Created @ 11/1/2022</p>
  </div>
</div>
